.competence {
    display: flex;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 4rem;
}

.profil {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    
}

.title p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.marquee {
    background-color: rgb(33, 141, 33);
}

.marquee p {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

