.contacts {
    margin-right: 1rem;
    width: 15%;
    height: 100%;
    background-color: rgb(117, 117, 143);
    border-radius: 10px;    
    margin-bottom: 1rem;
}

.contacts p {
    margin: 0 auto;
    width: 50%;
    font-weight: bold;
}

.icone {
    display: flex;
    width: 120px;
    gap: 0.5rem;
    margin: auto;
}