.developpement {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid rgb(117, 117, 143);
    box-shadow: 1px 1px 10px rgb(129, 129, 129);
    width: 100%;
}

.total {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    padding: .5rem;
}

.total img {
    width: 50%;
}



