.header {
    display: flex;
    justify-content: space-between;
}

.header p{
    font-family: 'Brush Script MT', cursive;
    font-size: 30px;
    margin-left: 2rem;
}
ul {
    list-style-type: none;
}
