.maBio {
        
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 15px;
        line-height: 2rem;
}

.maBio p {
    width: 60%;
    text-align: justify;
    margin: 0 auto;
}
.nom{
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
