.lien {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    margin-right: 2rem;
}

.lien a {
    color: #fff;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: .5rem;
}

.actif {
    background-color: rgb(117, 117, 143);
    border-radius: 25px;
}