
.photoprofil img {
    width: 75%;
    margin: 2rem;
    border-radius: 50%;
    
}

.skills {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


