.projetswebs {
    height: 50%;
    width: 100%;
    background-color: rgb(117, 117, 143);
    margin-bottom: 1rem;
}

.imageweb{
    max-width: 800px;
    position: relative;
    margin: auto;
    height: 350px;
    overflow: hidden;
}
    
.texte{
    width: 70%;
    margin: auto;
}

.texte p{
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    line-height: 1.5rem;
}

.carousel {
    margin-bottom: 3rem;
    margin-top: 2rem;
}


