    .carousel {
        background-color: aliceblue;
        width: 70%;
    }
    .texte{
        width: 70%;
        margin: auto;
    }
    
    .texte p{
        text-align: justify;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 15px;
        line-height: 1.5rem;
    }
